<div class="container">

  <!-- start row -->
  <div class="row">
    <div class="col-md-2">
      Welcome To Ember Note
    </div>
    <div class="col-md-10">
      {{#link-to 'register'}}register{{/link-to}}
    </div>
  </div>
  <!-- end row -->

  <!-- start row -->
  <div class="row">
    <div>
      {{outlet}}
    </div>
  </div>
  <!-- end row -->

</div>
